<div class="container header-content">
    <a href="index.html" class="logo">
        <h1>📽️ فیلم‌یاب</h1>
    </a>
    <nav class="main-nav">
        <ul>
            <li class="dropdown-container" id="genres-dropdown-container">
                
                <a href="genre.html" class="dropdown-toggle" id="genres-dropdown-toggle">
                    🎬 ژانرها<span class="dropdown-arrow">▼</span>
                </a>
                
                <div id="genres-dropdown-menu" class="dropdown-menu"> 
                    <p class="loading-message">در حال بارگذاری ژانرها...</p>
                </div>
            </li>
            
        </ul>
    </nav>
    <img src="./images/blue_short.svg" alt="logo" title="logo" class="sitelogo" /> 
</div>